body {
    color: #222;
    body-color: #111;
    background-color: #222;
    Бутстрап перезаписывает мои данные!!!

}

body {
    background-image : url('img/bg/backgrounds.jpg');
}

.body-wrapper {
    background-color: #FFFFFF;
}



