<#import "parts/common.ftlh" as c>
<#import "parts/bookEdit.ftlh" as me>
<#import "parts/bookList.ftlh" as ml>
<#include "parts/security.ftlh">

<@c.page>
<!--    Action - это добавление нового мапинга если используем такие же переменные как на основной странице-->
<div class="form-row">
    <div class="form-group col-md-6">
        <form method="get" action="/" class="form-inline">
            <input type="text" name="filter" class="form-control" value="${filter?ifExists}" placeholder="Search by book name">      <!--  value="${filter!""}". Здесь после ! идет значение по-дефолту. А без ковычек оно не работает   -->
            <button type="submit" class="btn btn-primary ml-2">Search</button>
        </form>
    </div>
</div>

<#if isAdmin>
    <@me.bookEditor false />
</#if>

<@ml.bookListCard />


</@c.page>