<#macro bookEditor isEditor>

<#if isEditor>
    <a class="btn btn-primary d-block mx-auto" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Message editor
    </a>
<#else>
    <a class="btn btn-primary " data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Add book
    </a>
</#if>

<div class="collapse <#if book??>show</#if> " id="collapseExample">
    <div class="form-group mt-3">
        <form method="post" action="/" enctype="multipart/form-data">
            <div class="form-group">
                <!-- Проверка на валидность сообщения -->
                <input type="text" class="form-control ${(nameError??)?string('is-invalid', '')}"
                       value="<#if book??>${book.name}</#if>" name="name" placeholder="Введите сообщение" />
                <#if nameError??>
                    <div class="invalid-feedback">
                        ${nameError}
                    </div>
                </#if>
            </div>
            <div class="form-group">
                <input type="text" class="form-control  ${(descriptionError??)?string('is-invalid', '')}"
                       value="<#if book??>${book.description}</#if>" name="description" placeholder="Введите описание">
                <#if descriptionError??>
                    <div class="invalid-feedback">
                        ${descriptionError}
                    </div>
                </#if>
            </div>
            <div class="form-group">
                <select type="text" class="form-control ${(genreError??)?string('is-invalid', '')}"
                        value="<#if book??>${book.genre}</#if>" name="genre">
                    <option value="Detective">Detective</option>
                    <option value="Action">Action</option>
                    <option value="Drama">Drama</option>
                    <option value="Fantasy">Fantasy</option>
                    <option value="Fairy tales">Fairy tales</option>
                    <option value="Comedy">Comedy</option>
                    <option value="Thriller">Thriller</option>
                </select>
                <#if genreError??>
                    <div class="invalid-feedback">
                        ${genreError}
                    </div>
                </#if>
            </div>
            <div class="form-group">
                <input type="text" class="form-control  ${(bookAuthorError??)?string('is-invalid', '')}"
                       value="<#if book??>${book.bookAuthor}</#if>" name="bookAuthor" placeholder="Введите автора книги">
                <#if bookAuthorError??>
                    <div class="invalid-feedback">
                        ${bookAuthorError}
                    </div>
                </#if>
            </div>
            <div class="form-group">
                <input type="text" class="form-control  ${(yearError??)?string('is-invalid', '')}"
                       value="<#if book??>${book.year}</#if>" name="year" placeholder="Введите год написания книги">
                <#if yearError??>
                    <div class="invalid-feedback">
                        ${yearError}
                    </div>
                </#if>
            </div>
            <div class="form-group">
                <div class="custom-file">
                    <input type="file" name="file" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
            </div>
            <input type="hidden" name="_csrf" value="${_csrf.token}">
            <#if isEditor>
                <input type="hidden" name="id" value="<#if book??>${book.id}<#else>Null</#if>">
            </#if>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary mx-1">
                    <#if isEditor>
                    Save book
                    <#else>
                    Create
                    </#if>
                </button>
            </div>
        </form>
    </div>
</div>
</#macro>